:root {
    --main-color: #efefef;
    --primary-color: #1d2d3d;
    --secondary-color:#495e74 ;
    --gray-color: #778697;
    --dark-color: #292b2c;
    --blue-color: #0275d8;
    --green-color: #27ae60;
    --green-sea-color: #16a085;
    --pumpkin-color: #d35400;
    --red-color: #d9534f;
    --white-color: #fff;
    --Strong-Cyan:#089da1;
  }
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
  }
  .logo{

width:10%;
height: 20%;

}



    .header{
display: flex;
justify-content: space-around;
align-items: center;
background-color: #ffffff;
border-bottom: solid var(--Strong-Cyan)  ;
padding: 1%;
border-bottom: 2px solid #089da1;
box-shadow: 0 4px 6px -4px #089da1;

    }
.list-componnent{
    display: flex;
    gap: 20px;
 
}
.icons{
display: flex;
justify-content: space-between;
gap: 10px;
}